body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;
}

/* NAVBAR */
.navbar {
    background: #222;
    padding: 10px;
    text-align: center;
}

.navbar ul { list-style: none; padding: 0; }
.navbar li {
    display: inline-block;
    margin: 0 15px;
    padding: 8px 14px;
    cursor: pointer;
    color: #ccc;
}
.navbar .active {
    background: #7dff7d;
    color: black;
    border-radius: 8px;
}

.container {
    display: flex;
    padding: 20px;
}

/* ARTIST WHEEL */
.artist-menu {
    width: 300px;
    height: 300px;
    position: relative;
    margin-right: 30px;
    user-select: none;
}

.circle {
    width: 90px;
    height: 90px;
    background: #666;
    border-radius: 50%;
    border: 3px solid #333;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    transition: 0.2s;
}
.circle:hover {
    transform: scale(1.1);
    background: #888;
}

/* RIGHT PANEL */
.artist-panel {
    flex: 1;
    padding: 10px;
}

.panel-art {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.player iframe {
    margin-top: 15px;
    border-radius: 10px;
}

/* NEW MUSIC SECTION */
.new-music {
    padding: 20px;
}
.music-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.music-item img {
    width: 100%;
    border-radius: 20px;
}

/* FOOTER */
.footer {
    padding: 10px;
    background: #222;
    display: flex;
    justify-content: space-around;
}
.icon {
    width: 40px;
    height: 40px;
    background: #444;
    border-radius: 8px;
